#load img{
    animation: rotation;
    animation-duration: 01s;
}
@keyframes rotation {
    0%{
        transform: rotate(0);
    }
    12,5%{
        transform: rotate(45deg);
    }
    25%{
        transform: rotate(90deg);   
    }
    37,5%{
        transform: rotate(135deg);      
    }
    50%{
        transform: rotate(180deg);    
    }
    62,5%{
        transform: rotate(225deg);    
    }
    75%{
        transform: rotate(270deg);   
    }
    87,5%{
        transform: rotate(315deg);    
    }
    100%{
        transform: rotate(360deg);   
    }

}

.focus{
    animation: gradient infinite;
    animation-duration: 5s;
    font-weight: 800;
}
@keyframes gradient {
    0%{
        color: #c938a9;
    }
    10%{
        color: #e0447b;
    }
    20%{
        color: #fe543f;
    }
    30%{
        color: #ffa24b;
    }
    40%{
        color: #ffda54;
    }
    50%{
        color: #ffda54;
    }
    60%{
        color: #ffa24b;
    }
    70%{
        color: #ffa24b
    }
    80%{
        color: #fe543f;
    }
    90%{
        color: #e0447b;
    }
    100%{
        color: #c938a9;
    }
    
}

